.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  color: white;
  font-size: large;
}

.player-table {
  border-collapse: collapse;
}

.player-table td {
  padding: 5px 5px;
}

.player-table td:first-child {
  min-width: 150px;
}
